@import "./block-property-bar.css";
@import "./popup-button.css";
@import "./image-block.css";

.BlockEditor {
  display: flex;
  flex-direction: row;
}

.BlockEditor-content {
  flex: 1;
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
}

.BlockEditor-sidebar {
  flex: 0 0 300px;
}

.BlockEditor-layoutEditButtons {
  text-align: center;
  position: relative;
}

.BlockEditor-layoutEditButtons::before {
  content: "";
  display: block;
  position: absolute;
  background: #dadada;
  height: 1px;
  width: 100%;
  top: 50%;
  z-index: -1;
}
