.ColumnsBlock {
  display: flex;
  flex-direction: row;
}

.ColumnsBlock-blockContainer {
  flex: 1;
}

.ColumnsBlock-emptyContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 38px 0;
}
