.PopupButton {
  position: relative;
  display: inline-block;
}

.PopupButton-button {
  font-size: inherit;
  cursor: pointer;
}

.PopupButton-option {
  font-size: inherit;
  cursor: pointer;
  border: none;
  background: transparent;
}

.PopupButton-popup {
  position: absolute;
  width: 200px;
  left: calc(50% - 100px);
  border: 1px solid #9c9c9c;
  box-shadow: 0 1px 2px #393939;
  padding: 5px;
  border-radius: 4px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.PopupButton-popup::before {
  content: "";
  position: absolute;
  top: -7px;
  width: 14px;
  height: 14px;
  background: white;
  left: calc(50% - 7px);
  border-left: 1px solid #9c9c9c;
  transform: rotate(45deg);
  border-top: 1px solid #9c9c9c;
}
