<div class="BlockPropertyBar-title">{{blockType}} Properties</div>
{{#if isImageBlock}}
  <ImageBlockProperties @blockData={{blockData}} @onChange={{onChange}} />
{{/if}}
<RegularButton @onclick={{action "handleDeleteClick"}} @testid="deleteBlockButton">
  Delete
</RegularButton>